<mat-card
  [class]="
    'example-card w-full ' +
    (currentUrl.includes('user') && ' shadow-lg max-w-[50%] mx-auto mt-8')
  "
>
  <mat-card-header class="items-center mb-4">
    <div
      mat-card-avatar
      [style.background-image]="'url(' + user.avatar + ')'"
      class="bg-cover size-14 mb-0"
    ></div>
    <mat-card-title>{{
      user.first_name + " " + user.last_name
    }}</mat-card-title>
  </mat-card-header>
  @if(currentUrl.includes("user")){

  <mat-card-content>
    <p class="text-center">
      Email:
      {{ user.email }}
    </p> </mat-card-content
  >} @if(!currentUrl.includes("user")){

  <mat-card-actions>
    <a
      mat-button
      class="group relative inline-flex items-center overflow-hidden rounded bg-indigo-600 px-8 py-3 text-white focus:outline-none focus:ring mx-auto active:bg-indigo-500"
      [href]="'/user/' + user.id.toString()"
    >
      <span class="absolute -start-full transition-all group-hover:start-4">
        <svg
          class="size-5 rtl:rotate-180"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M17 8l4 4m0 0l-4 4m4-4H3"
          />
        </svg>
      </span>

      <span class="text-sm font-medium transition-all group-hover:ms-4">
        See Details
      </span>
    </a>
  </mat-card-actions>
  }
</mat-card>
